<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>defaultLocation</param-name>
		<param-value>/Users/santhosh-pt2425/Documents/Cloud_Storage_Application/Clients/</param-value>
	</context-param>

	<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>com.controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SignupController</servlet-name>
		<servlet-class>com.controller.SignupController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignupController</servlet-name>
		<url-pattern>/SignupController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NavigationController</servlet-name>
		<servlet-class>com.controller.NavigationController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NavigationController</servlet-name>
		<url-pattern>/NavigationController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadFileController</servlet-name>
		<servlet-class>com.controller.UploadFileController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadFileController</servlet-name>
		<url-pattern>/UploadFileController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NewFolderController</servlet-name>
		<servlet-class>com.controller.NewFolderController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewFolderController</servlet-name>
		<url-pattern>/NewFolderController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteFileController</servlet-name>
		<servlet-class>com.controller.DeleteFileController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteFileController</servlet-name>
		<url-pattern>/DeleteFileController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>OpenFolderController</servlet-name>
		<servlet-class>com.controller.OpenFolderController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OpenFolderController</servlet-name>
		<url-pattern>/OpenFolderController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ShareFileController</servlet-name>
		<servlet-class>com.controller.ShareFileController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShareFileController</servlet-name>
		<url-pattern>/ShareFileController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ViewFolderController</servlet-name>
		<servlet-class>com.controller.ViewFolderController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewFolderController</servlet-name>
		<url-pattern>/ViewFolderController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ViewFolderForLocationController</servlet-name>
		<servlet-class>com.controller.ViewFolderForLocationController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewFolderForLocationController</servlet-name>
		<url-pattern>/ViewFolderForLocationController</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>NewFileController</servlet-name>
		<servlet-class>com.controller.NewFileController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewFileController</servlet-name>
		<url-pattern>/NewFileController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SharedUserListController</servlet-name>
		<servlet-class>com.controller.SharedUserListController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SharedUserListController</servlet-name>
		<url-pattern>/SharedUserListController</url-pattern>
	</servlet-mapping>
</web-app>