@charset "UTF-8";

.topbar {
	overflow: auto;
	background-color: #D7DBDD;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 125px;
	z-index: 2;
}

#topbarmenu {
	background-color: #E74C3C;
	position: fixed;
	top: 125px;
	left: 0;
	width: 100%;
	z-index: 2;
}

.main {
	clear: both;
	padding: 160px 0px 0px 0px;
	height: 1500px;
}

.container {
	cursor: pointer;
	padding: 8px 10px 10px 10px;
	float: left;
	display: inline-block;
	opacity: 1;
}

.container:focus {
	opacity: 1;
}
/* 
.container:hover {
	opacity: 1;
}
 */
.text {
	display: block;
	font-size: 17px;
	font-weight: bold;
	padding: 0px 0px 0px 5px;
}

#header {
	background-color: #E74C3C;
	padding: 5px 10px 5px 10px;
	width: auto;
	float: left;
	font-family: sans-serif;
	color: white;
}

#back {
	background-color: #D7DBDD;
	padding: 0px 10px 0px 10px;
	width: 40px;
	height: 28px;
	float: left;
	font-family: sans-serif;
	color: black;
	bottom: 0;
	float: left;
}

button:focus {
	outline: 0;
}

#viewbox {
	padding: 10px 10px 10px 10px;
	overflow: auto;
	width: auto;
	height: 95%;
	align: center;
	background-color: white;
}

.list {
	float: left;
	width: 205px;
	clear: left;
}

.openfolderbutton {
	cursor: pointer;
	background-color: gray;
	color: white;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	width: 205px;
}

.openfolderbutton:hover {
	background-color: #E74C3C;
	outline: none;
}

.openfolderbutton:focus {
	background-color: #E74C3C;
}

.form-popup {
	display: none;
	position: fixed;
	top: 40%;
	z-index: 1;
	border: 3px solid black;
	left: 40%;
	width: auto;
}

.editor-popup {
	display: none;
	position: fixed;
	color: white;
	top: 2%;
	left: 1%;
	z-index: 3;
	width: 95%;
	height: 92%;
	border: 3px solid white;
	background-color: black;
	padding: 1% 1%;
}

.form-container {
	max-width: 300px;
	padding: 3px;
	background-color: white;
}

.form-container .rightclickmenubtn {
	background-color: #D7DBDD;
	padding: 8px 10px;
	border: none;
	cursor: pointer;
	width: 100%;
}

.form-container .rightclickmenubtn:hover {
	background-color: black;
	color: white;
}

.form-container .cancel {
	color: white;
	background-color: #E74C3C;
}

table, td, th {
	border: 1px solid black;
	margin: 5%;
	border-collapse: collapse;
}

th {
	height: 30px;
	width: 100px;
}

td {
	width: 100px;
	align: center;
}

.removeshare {
	background-color: red;
	color: white;
	height: 25px;
}

.editshare {
	background-color: yellow;
	height: 23px;
}

.searchmenu {
	overflow: auto;
	background-color: white;
	position: fixed;
	top: 165px;
	right: 0px;
	width: 30%;
	height: 145px;
	z-index: 2;
	border: 3px solid black;
	display: none;
}